.contacts__item {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.contacts__img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
}

.contacts__wrap {
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    flex-grow: 1;
}

.contacts__phone {
    font-size: 1.4rem;
    font-weight: normal;
    color: lightgrey;
}

.contacts__panel {
    padding: 10px;
    display: flex;
}