.header {
    width: 85vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    box-sizing: border-box;
    padding: 2rem 0;
}

.header__menu {
    display: flex;
}

.header__link {
    margin-right: 20px;
}