body, html {
    font-size: 10px;
}

body {
    background: cadetblue;
    font-size: 10px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    opacity: 0.6;
}

.content {
    width: 85vw;
    margin: 0 auto;
    font-size: 2.2rem;
    box-sizing: border-box;
    padding: 5rem 2.5rem;
}

.icon {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon:hover {
    opacity: 0.6;
    cursor: pointer;
}

.icon_edit {
    background: url('./../icon/edit.svg') no-repeat center;
    background-size: contain;
}

.icon_delete {
    color: darkred;
}

button {
    height: 40px;
    padding: 0 2rem;
    border: none;
    background: yellowgreen;
    color: white;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    margin-right: 1rem;
}

button:hover {
    opacity: 0.7;
}

button:focus {
    outline: none;
}

.cancel {
    background: darkred;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.close {
    font-size: 2.6rem;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    cursor: pointer;
}

.close:hover {
    color: darkred;
}

label {
    font-size: 1.4rem;
    color: yellowgreen;
    display: block;
    margin-bottom: 0.5rem;
    text-align: left;
}

input {
    width: 100%;
    height: 4rem;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    background: none;
    border: 1px solid yellowgreen;
}

input:focus {
    outline: none;
    background: none;
}

.form {
    min-width: 500px;
    min-height: 250px;
    overflow-y: auto;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 2rem 2rem;
    position: relative;
    text-align: center;
}

.form__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    width: 100%;
}

.form__title {
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.error {
    color: red;
    font-size: 10px;
    text-transform: uppercase;
}